<template>
  <div class="link-picker form-control-static">
    <div class="link-picker-display">
      <ul class="list-group">
        <li repeat.for="link of selectedLinks" class="list-group-item">${link.name}</li>
      </ul>
      <button class="btn btn-default" type="button" click.delegate="addLinks()" show.bind="showAddBtn">Add Links</button>
    </div>
    <div class="link-picker-picker" show.bind="showPicker">
      <div class="list-group">
        <a role="button" class="list-group-item" repeat.for="link of allLinks" click.delegate="$parent.pick(link)">${link.name}</a>
      </div>
      <button type="button" class="btn btn-default" click.delegate="done()">Done</button>
    </div>
  </div>
</template>