<template>
  <div class="link-picker form-control-static">
    <div class="link-picker-display">
      <ul class="list-group">
        <li repeat.for="link of selectedLinks" class="list-group-item">
          <div class="pull-right" show.bind="$parent.editMode">
            <i class="fa fa-bars sort-handle"></i>
          </div>
          <div><button type="button" class="btn btn-danger btn-xs" style="margin-right: 0.5em;" show.bind="$parent.editMode"><i class="fa fa-close"></i></button>${link.name}</div>
        </li>
      </ul>
      <button class="btn btn-default" type="button" click.delegate="editLinks()" show.bind="showEditBtn">Edit Links</button>
    </div>
    <div class="link-picker-picker" show.bind="editMode">
      <div class="list-group">
        <a role="button" class="list-group-item" repeat.for="link of allLinks" click.delegate="$parent.pick(link)"><i class="fa fa-plus" style="padding-right: 0.5em;"></i> ${link.name}</a>
      </div>
      <button type="button" class="btn btn-default" click.delegate="done()">Done</button>
    </div>
  </div>
</template>